* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore_header {
    padding-left: 10px;
    padding-top: 10px;
}

.toboolist {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
}

.toboolist.title {
    font-weight: bold;
    font-size: 40px;
}



