
/* #region General */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif, Calibri;
    }

    :root {
        --tbl-backgr: #f6f8f9;
        --tbl-bottone1: #47adf1;
        --tbl-bottone2: #cdd2d6;
        --tbl-editorial: #45abe9;
        --tbl-goals: #9c72e4;
        --tbl-recruiting: #64c0a9;
        --tbl-mobile: #f29e33;
        --tbl-website: #d863a0;
        --tbl-sales: #b0c926;
    }

    body {
        background-color: var(--tbl-backgr);
    }
  
/* #endregion General */

/* #region Header */

    header{
        background-color: white;
    }

    .contenitore_header {
        padding: 2%;
    }

    .toboolist {
        display: inline-block;
        vertical-align: middle;
        height: 5%;
    }

    .toboolist.title {
        font-weight: bold;
        font-size: 40px;
    }

/* #endregion Header */

/* #region main */

    /* #region contenitori */

    .cont1 {
        background-color: white;
        width: 75%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 10%;
    }

    .cont1.cont2{
        margin-top: 1%;
    }

    /* #endregion contenitori */

    /* #region bottoni */

    .bottone {
        padding: 6px;
        border-radius: 5px;
        font-weight: bold;
    }

    .bottone.task {
        color: white;
        background-color: var(--tbl-bottone1);
        border-color: var(--tbl-bottone1);
        border-style: solid;
    }

    .bottone.section {
        color: var(--tbl-bottone2);
        background-color: white;
        border-color: var(--tbl-bottone2);
        border-style: solid;
    }

    /* #endregion bottoni */

    /* #region contenitori task */

    .cont3 {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .cont4 {
        font-size: 18px;
        padding-bottom: 1%;
    }

    .cont5 {
        font-size: 15px;
        padding-bottom: 1%;
        vertical-align: middle;
    }

    /* #endregion contenitori task */

    /* #region etichette */

    .etichetta {
        color: white;
        padding: 0.7%;
        border-radius: 7px;
        font-size: 10px;
        vertical-align: middle;
    }

    .etichetta.editorial {
        background-color: var(--tbl-editorial);
    }

    .etichetta.goals {
        background-color: var(--tbl-goals);
    }

    .etichetta.recruiting {
        background-color: var(--tbl-recruiting);
    }

    .etichetta.mobile {
        background-color: var(--tbl-mobile);
    }

    .etichetta.website {
        background-color: var(--tbl-website);
    }

    .etichetta.sales {
        background-color: var(--tbl-sales);
    }

    /* #endregion etichette */

/* #endregion main */