
/* #region General */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --tbl-backgr: #f6f8f9;
    }

    body {
        background-color: var(--tbl-backgr);
    }
  
/* #endregion General */

/* #region Header */

    header{
        background-color: white;
    }

    .contenitore_header {
        padding: 10px;
    }

    .toboolist {
        display: inline-block;
        vertical-align: middle;
        height: 50px;
    }

    .toboolist.title {
        font-weight: bold;
        font-size: 40px;
    }

/* #endregion Header */

/* #region main */

    .cont1 {
        background-color: white;
        width: 80%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .cont2{
        margin-top: 5px;
    }


/* #endregion main */