
/* #region General */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --tbl-backgr: #f6f8f9;
        --tbl-bottone1: #47adf1;
        --tbl-bottone2: #cdd2d6;
        --tbl-editorial: #45abe9;
        --tbl-goals: #9c72e4;
        --tbl-recruiting: #64c0a9;
        --tbl-mobile: #f29e33;
        --tbl-website: #d863a0;
        --tbl-sales: #b0c926;
        --tbl-txt1: rgba(68, 72, 81, 1);
        --tbl-txt2: rgba(73, 77, 85, 1);
    }

    body {
        background-color: var(--tbl-backgr);
        font-family: Arial, sans-serif;
    }
  
/* #endregion General */

/* #region Header */

    header{
        background-color: white;
    }

    .contenitore_header {
        padding: 2%;
    }

    .toboolist {
        display: inline-block;
        vertical-align: middle;
        height: 5%;
    }

    .toboolist.title {
        font-weight: bold;
        font-size: 40px;
    }

/* #endregion Header */

/* #region main */

    /* #region contenitori */

    .cont0 {
        width: 75%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        border-radius: 8px;
    }

    .cont1 {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 10%;
        border-bottom: 2px solid var(--tbl-backgr);
    }

    .cont2{
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 10%;
    }

    /* #endregion contenitori */

    /* #region bottoni */

    .bottone {
        padding: 4px;
        border-radius: 5px;
        font-weight: bold;
    }

    .bottone.task {
        color: white;
        background-color: var(--tbl-bottone1);
        border-color: var(--tbl-bottone1);
        border-style: solid;
    }

    .bottone.section {
        color: var(--tbl-bottone2);
        background-color: white;
        border-color: var(--tbl-bottone2);
        border-style: solid;
    }

    /* #endregion bottoni */

    /* #region contenitori task */

    .cont3 {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .cont4 {
        font-size: 16px;
        padding-bottom: 1rem;
        color: var(--tbl-txt1);
    }

    .cont5 {
        font-size: 12px;
        padding-bottom: 1rem;
        vertical-align: middle;
        color: var(--tbl-txt2);
    }

    /* #endregion contenitori task */

    /* #region etichette */

    .etichetta {
        color: white;
        padding: 0.5%;
        border-radius: 8px;
        font-size: 7px;
        vertical-align: middle;
        display: inline-block;
    }

    .etichetta.editorial {
        background-color: var(--tbl-editorial);
    }

    .etichetta.goals {
        background-color: var(--tbl-goals);
    }

    .etichetta.recruiting {
        background-color: var(--tbl-recruiting);
    }

    .etichetta.mobile {
        background-color: var(--tbl-mobile);
    }

    .etichetta.website {
        background-color: var(--tbl-website);
    }

    .etichetta.sales {
        background-color: var(--tbl-sales);
    }

    /* #endregion etichette */

    /* #region checkmark */

    .check {
        height: 20px;
        width: 20px;
        text-align: center;
        display: inline-block;
        color: green;
        border: 1px solid green;
        border-radius: 10px;
        vertical-align: middle;
    }

    .cross {
        height: 20px;
        width: 20px;
        text-align: center;
        display: inline-block;
        color: red;
        border: 1px solid red;
        border-radius: 10px;
        vertical-align: middle;
    }

    /* #endregion checkmark */

/* #endregion main */